*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    background-color: rgb(232, 232, 232);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}